body {
  --blue: #2d2d74;
  margin: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  background: var(--blue);
  font: 500 100vmin -apple-system, BlinkMacSystemFont, sans-serif;
}

.buttonHover {
  cursor: pointer;
}

@keyframes introAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  display: block;
  animation: introAnimation 400ms 150ms ease-in-out both;
  touch-action: none;
  user-select: none;
}

div {
  user-select: none;
}
