body {
  --blue: #2d2d74;
  --blue-background: #070729;
  margin: 0;
  overflow: hidden;
  background: var(--blue-background);
  font: 500 100vmin -apple-system, BlinkMacSystemFont, sans-serif;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.buttonHover {
  cursor: pointer;
}

@keyframes introAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  background: var(--blue);
  display: block;
  margin: auto;
  animation: introAnimation 400ms 150ms ease-in-out both;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.4);
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
