body {
  --blue: #2d2d74;
  --pink: #ea98aa;
  --red: #df432a;
  --yellow: #f4bf2a;
  --turquoise: #79caec;
  --white: #fcf6e8;
  margin: 0;
  user-select: none;
  touch-action: none;
  background: var(--blue);
  font: 400 18px -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--white);
}

canvas {
  display: block;
  touch-action: none;
}

.actionsTop {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 48px 0 0;
  box-sizing: border-box;
  grid-gap: 16px;
  bottom: 0;
}

.actionsTop-button {
  display: flex;
  width: 100%;
  margin: 0 32px;
  max-width: 500px;
  grid-gap: 8px;
  align-items: center;
  justify-content: center;
  height: 92px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  backdrop-filter: blur(32px);
}

.actionsTop-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.actionsTop-button:active {
  transform: scale(0.98);
  background: rgba(255, 255, 255, 0.09);
}

.actionsTop-button:hover .actions-button-label {
  transform: translateY(-2px);
}

.actionsTop-button:hover .actions-button-shortcut {
  transform: translateY(-2px);
}

.actionsTop-button-label {
  font-weight: 500;
  transition: transform 0.15s ease-in-out;
}

.actionsTop-button-shortcut {
  opacity: 0.65;
  transition: transform 0.15s ease-in-out;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-preview {
  --ball-size: 60px;
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-gap: 48px;
  padding: 48px 0 144px;
}

.preview-row {
  display: flex;
  grid-gap: 8px;
  border-radius: 100px;
  outline-offset: 2px;
  outline-width: 0px;
  outline-color: rgba(0, 0, 0, 0);
  transition: all 0.15s ease-out;
}

.preview-row:has(.preview-row-actions-delete:hover) {
  outline-offset: 18px;
  outline: 2px solid var(--red);
}

.preview-cell {
  height: var(--ball-size);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.preview-cell:hover {
  transform: scale(1.1);
}

.preview-cell--empty::after {
  content: "";
  width: var(--ball-size);
  height: var(--ball-size);
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--ball-size);
  transition: background-color 0.1s ease-in-out;
}

.preview-cell--empty:hover::after {
  content: "";
  width: var(--ball-size);
  height: var(--ball-size);
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--ball-size);
}

.preview-cell-ball {
  width: var(--ball-size);
  height: var(--ball-size);
  border-radius: var(--ball-size);
}

.preview-cell-ball--pink {
  background: var(--pink);
}

.preview-cell-ball--red {
  background: var(--red);
}

.preview-cell-ball--yellow {
  background: var(--yellow);
}

.preview-cell-ball--turquoise {
  background: var(--turquoise);
}

.preview-cell-ball--white {
  background: var(--white);
}

.preview-cell-velocity {
  font-size: 12px;
  color: var(--white);
  position: absolute;
  top: 100%;
  display: flex;
  grid-gap: 4px;
  font-weight: 600;
}

.preview-cell-velocity-x::before {
  content: "X";
}

.preview-cell-velocity-y::before {
  content: "Y";
}

.preview-row-actions {
  display: flex;
  grid-gap: 8px;
}

.preview-row-actions-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ball-size);
  height: var(--ball-size);
  cursor: pointer;
  transition: transform 0.15s ease-out;
}

.preview-row-actions-delete:hover {
  transform: scale(1.1);
}

.layout-gravity {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.layout-gravity::before {
  content: "GRAVITY";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  opacity: 0.65;
}

.actionsBottom {
  display: flex;
  width: 100%;
  padding: 0 32px 32px;
  box-sizing: border-box;
  grid-gap: 16px;
  position: fixed;
  bottom: 0;
}

.actionsBottom-button {
  display: flex;
  grid-gap: 8px;
  width: 100%;
  padding: 16px;
  align-items: center;
  justify-content: center;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  backdrop-filter: blur(32px);
}

.actionsBottom-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.actionsBottom-button:active {
  transform: scale(0.98);
  background: rgba(255, 255, 255, 0.09);
}

.actionsBottom-button:hover .actions-button-label {
  transform: translateY(-2px);
}

.actionsBottom-button:hover .actions-button-shortcut {
  transform: translateY(-2px);
}

.actionsBottom-button-label {
  font-weight: 500;
  transition: transform 0.15s ease-in-out;
}

.actionsBottom-button-shortcut {
  opacity: 0.65;
  transition: transform 0.15s ease-in-out;
}
