@import url("actions.css");
@import url("layout.css");
@import url("levels.css");

body {
  --blue: #2d2d74;
  --pink: #ea98aa;
  --red: #df432a;
  --yellow: #f4bf2a;
  --turquoise: #79caec;
  --white: #fcf6e8;
  margin: 0;
  user-select: none;
  background: var(--blue);
  font: 400 18px -apple-system, BlinkMacSystemFont, sans-serif;
  font-variant-numeric: tabular-nums;
  color: var(--white);
}
